/* body{
    height: 100vh;
} */
main{
  /* padding-top: 100vh;; */
}
header {
    /* border: 1px solid red; */
    height: 100px;
    margin-top: 5rem;
    margin-bottom: 3rem;
    position: sticky;
    left: 0;
    top: 0;
    padding-top: 1rem;
    z-index: 100;
}
header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    font-size: 0.8rem;
    font-weight: bold;
}
.logo {
    /* height: 100px; */
    width: 320px;
    /* width: 100%; */
}
.logo img{
    height: 100%;
}
header ul li{
    text-transform: uppercase;
    font-family: 'zal';
    color: #2055CA;
}
.common-frame{
    margin: 0 10.6rem;
}
.about {
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    height: 100%;
    position: relative;
}
.about h1 {
    font-size: 6rem;
    font-family: 'newyork';
    color: #2055CA;
    margin-top: 3rem;
    margin-bottom: 1rem;
}
.about figure img{
    width: 500px;
    aspect-ratio: 600/752;
}

.about{
    font-size: 0.8rem;
    
}
.about-t p,
.about-t a
{   display: block;
    font-size: 0.8rem;
    /* margin-left: 5rem; */
}
.about .t1{
margin-bottom: 6rem;
}
.about-t a{
    margin-top: 0.5rem;
}
.about figure {
    /* display: flex;
    flex-direction: row-reverse;
    margin-top: 5rem;
    gap: 2rem;
    align-items: flex-end; */
    /* padding-bottom: 2rem; */
    /* width: 450px; */
}
.t3{
    position: absolute;
    left:40%;
    bottom: 0;
}
@media(max-width:1700px){
.t3{
    left:30%;
}
}
@media(max-width:1520px){
    .about h1 {
    font-size: 5rem;
}
    
    .about figure img{
    width: 400px;
    aspect-ratio: 600/752;
}
.about .t1{
margin-bottom: 3rem;
}
.t3{
    left:35%;
}
}
@media(max-width:1440px){
    html{
        font-size: 16px
    }
    .t3{
    left:25%;
}
.about-t p,
.about-t a
{
    margin-left: 0;
}
header ul {
    gap: 3rem;
}
.common-frame{
    margin: 0 2rem;
}
}
@media (max-width:1024px){
      .t3{
    left:0;
}
.about h1 {
    margin-bottom: 3rem;
}
}