body{
    height: 100vh;

}
main{
  /* padding-top: 100vh;; */
}
header {
    /* border: 1px solid red; */
    height: 100px;
    margin-top: 5rem;
    margin-bottom: 3rem;
    position: sticky;
    left: 0;
    top: 0;
    padding-top: 1rem;
}
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7rem;
    font-size: 0.8rem;
    font-weight: bold;
}
.slogan{
    height: 100px;
}
.slogan img{
    height: 100%;
}
header ul li{
    text-transform: uppercase;
    font-family: 'zal';
    color: #2055CA;
}
.common-frame{
    margin: 0 10.6rem;
    position: relative;
}
.about {
    display: flex;
    justify-content: space-between;
}
.about h1 {
    font-size: 6rem;
    font-family: 'newyork';
    color: #2055CA;
    margin-top: 3rem;
    margin-bottom: 1rem;
}
.about figure {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 5rem;
    width: 450px;
}
.about figure img{
    width: 500px;
    aspect-ratio: 600/752;
}
.about figure figcaption{
    width: 100%;
    font-size: 0.8rem;
}
.about p:nth-of-type(1){
    width: 425px;
    margin-left: 7.25rem;
    font-size: 0.8rem;
}
.about p:nth-of-type(2) {
    width: 435px;
    position: absolute;
    bottom: 15rem;
    font-size: 0.8rem;
}
.about a{
    margin-left: 7.25rem;
    font-size: 0.8rem;
}
