/* body{
    height: 100vh;
} */
main{
  /* padding-top: 100vh;; */
}
header {
    /* border: 1px solid red; */
    height: 100px;
    margin-top: 5rem;
    margin-bottom: 3rem;
    position: sticky;
    left: 0;
    top: 0;
    padding-top: 1rem;
    z-index: 100;
}
header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    font-size: 0.8rem;
    font-weight: bold;
}
.logo {
    /* height: 100px; */
    width: 320px;
    /* width: 100%; */
}
.logo img{
    height: 100%;
}
header ul li{
    text-transform: uppercase;
    font-family: 'zal';
    color: #2055CA;
}
.common-frame{
    margin: 0 10.6rem;
}
.about {
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    height: 100%;
    position: relative;
}
.about h1 {
    font-size: 11.5rem;
    font-family: 'newyork';
    color: #2055CA;
    margin-top: 3rem;
    /* margin-bottom: 1rem; */
}
.about figure img{
    width: 500px;
    aspect-ratio: 600/752;
}
.about {
    /* height: 100vh; */
    font-size: 0.8rem;
}

.about .t1 {
    margin-left: 4rem;
}
.about-t a{
    margin-top: 0.5rem;
}
.about figure {
    /* padding-bottom: 2rem; */
    /* width: 450px; */
    margin-top: 24rem;
}

