html, body { height: 100%; }
body { margin: 0; }
#canvas {
  position: fixed;    /* 배경처럼 붙이기 */
  inset: 0;           /* top:0; right:0; bottom:0; left:0 */
  width: 100%;
  height: 100%;
  z-index: -1;        /* 위에 HTML이 올라오게 */
  display: block;     /* 캔버스 기본 inline → 간혹 줄바꿈 틈 방지 */
}

/* HTML 콘텐츠 */
.content {
  position: relative;
  z-index: 3;
  color: #313131;
  text-align: center;
  height: 100%;
  margin: 5.5rem 12rem;
}
.job{ 
  display: flex;
  gap: 2rem;
}
.content h1 {
  font-size: 1rem;
  margin: 0;
  font-family: 'zal';
  font-weight: 600;
  text-transform: uppercase;
}
.content p{
  position: absolute;
  bottom: 10rem;
  text-align: left;
  font-family: 'zal';
  font-weight: 400;
}
.scroll{
  width: 6rem;
  position: absolute;
  bottom: 10rem;
  left: 50%;
  transform: translatex(-50%);
}
