
@media(max-width:768px){
    html{
        font-size: 14px;
    }
    .slogan{
        left: 50%;
        transform: translateX(-50%);
        bottom: 12rem;
    }
    /* =========header========== */
    .skills h1 {
    margin-right: 0;
    font-size: 6rem;
}
    /* =========about=========== */
.common-frame {
    margin: 0 1rem;
}
.about{
        flex-direction: column;
    }
    .t1 a img {
        width: 15px;
    }
.koo {
    /* padding-bottom: 2rem; */
    /* width: 450px; */
    margin-top: 2rem;
}
.koo img{
    width: 100%;
}
.koo2 img{
    width: 50%;
}
.koo{
    margin-bottom: 2rem;
}
.koo2 {
    position: static;
    margin-top: 5rem;
    display: flex;
    justify-content: flex-end;
}
    /* ==========skills========= */
.skills{
    display: flex;
    flex-direction: column;
}
.myswiper {
    margin-top: 2rem;
}
.skill-box {
    width: 15rem
}
.overlay-contents .skills .swiper{
    width: 100%;
}
.about {
    /* height: 100vh; */
    margin-bottom: 5rem;
}

/* ==========about2 / cert-list========= */
.about2 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.about2 h2 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

.cert-item {
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
}

.cert-name {
    /* min-width: 100%; */
    /* max-width: 100%; */
    padding-right: 0;
    padding-bottom: 0.5rem;
    /* font-size: 0.75rem; */
}

.cert-org,
.cert-date {
    font-size: 0.75rem;
    margin-left: 0;
}

.cert-name {
    min-width: initial;
    max-width: 150px;
    padding-right: 2rem;
    font-size: 0.8rem;
}
/* ===============pop-up */
.pop-up__title-area {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-bottom: 3rem;
}
}
