@media(max-width:1440px){
  /* ========header======= */
  header ul {
    gap: 3rem;
}
    .skills h1{
      font-size: 5rem;
      margin-right: 5rem;
}
.koo img {
    width: 350px;
    aspect-ratio: 600/752;
}
.koo2 img {
    width: 200px;
}
}