*{margin: 0; padding: 0;}
ul, ol, li{
    list-style: none;
}
h1, h2, h3, h4, h5, h6{
    font-size: inherit;
    font-weight: inherit;
}
a{
    color: inherit;
    text-decoration: inherit;
}
address{
    font-style: inherit;
}
table{
    border-collapse: collapse;
}
img{max-width: 100%;}
ul{
    text-decoration: none;
}

    button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
}