/* 
    body {
      background: #000;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #fff;
      margin: 0;
      padding: 0;
    } */
     .swiper {
    height: 70% !important;
}
.mySwiper{
  margin-top: 10rem;
}
.skills h1{
  font-size: 7.5rem;
  font-family: 'newyork';
  margin-right: 13.5rem;
  color: #3d3d3d;
}
   .swiper {
     width: 100%;
     height: 100%;
   }
   .swiper-slide {
     font-size: 0.8rem;
     /* background: #444; */
     display: flex;
     justify-content: center;
     align-items: center;
   }
.skill-box h2{
  font-family: 'newyork';
  font-size: 2rem;
  color: #2055CA;
}
.skill-box{
  margin-bottom: 1rem;
}

    /* .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    } */
.s2{
  margin-top: 12rem;
}
.s3{
  margin-top: 20rem;
}
.s5{
  margin-top: 12rem;
}